/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  height: 100%;
  margin-top: 15px;
}

/* Login Page */

.login-container {
  padding: auto;
  padding-top: 60px;
  height: 540px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

/* Login Navigation Bar */
.login-nav-bar {
  position: fixed;
  top: 0;
  width: 600px;
  height: 60px;
  background-color: white;
}
.login-twitter-logo {
  width: 30px;
  height: 30px;
  margin: auto;
}

.login-title {
  padding: 35px 150px;
  align-self: baseline;
}

.login-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.login-btn {
  border-radius: 30px;
  width: 300px;
  border-color: #d3d3d3;
  border-width: 1px;
  background-color: white;
  height: 40px;
  text-align: center;
}
.login-logo-btn {
  width: 13px;
  height: 13px;
  padding-top: 1px;
  margin: auto;
}

